#errorBox{
    display: none;
    transform: scale(0);
    opacity: 0;
}

#searchBtn{
    color: white;
    background-color: black;
    border-radius: 15px;
}

#container{
    transition: 0.6s ease-out;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        transform: scale(1);
        opacity: 1;
    }
}