#searchBtn{
    color: white;
    background-color: black;
    border-radius: 15px;
}

#container{
    transition: 0.6s ease-out;
}

.fadeIn {
    animation: fadeIn 0.5s forwards 0.5s; /* Adjust the delay as needed */
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}