@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@500&family=Sofia+Sans+Condensed:wght@400;600;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.info-container-for-flex{
    @apply flex justify-evenly gap-x-10
}

.info-container{
    @apply flex flex-col items-center m-2
}

.info-span-label{
    @apply font-Sofia font-semibold text-xl
}

.info-result-label{
    @apply font-Montserrat font-bold text-2xl text-cyan-700
}

.city-style{
    @apply font-Montserrat font-semibold text-xl text-green-600
}